.logotype-header {
    position: absolute;
    top: 200px;
    left: 50px;
    color: #0000FF;
    font-size: 36px;
    font-weight: 900;
}

.logotype-menu {
    position: absolute;
    right: 0;
    bottom:0;
    width: 300px;
    height: 80px;
    background-color: #fff;
    border-top-left-radius: 50%;
    text-align: center;
}